<footer class="footer">
    <div id="footer-info">
        <small>
            Clock+<br/>
            email: s3601130@student.rmit.edu.au<br/>
            attempt grade level: 90+<br/>
        </small>
    </div>
    
    <div id="footer-links">
        <div id="footer-links-text">
            Share<br/>
            Social
        </div>
        <div id="footer-links-images">
            <%= link_to image_tag("facebook.png", :size => "30x30"), "https://www.facebook.com/" %>
            <%= link_to image_tag("twitter.png", :size => "30x30"), "https://www.twitter.com/" %>
            <%= link_to image_tag("linkedin.png", :size => "30x30"), "https://www.linkedin.com/" %>
        </div>
    </div>
</footer>