<header class="header">
    <div id="header-div">
        <ul class="header-list">
            <li><h2><%= link_to "Clock+", root_path, method: :get, id: "title", id: "title"%></h2></li>
            <li><h2><%= link_to "Showcase", root_path, method: :get, id: "showcase" %></h2></li>
            <li><h2><%= mail_to "s3601130@student.rmit.edu.au", "Contact Us", id: "contact"%></h2></li>
        </ul>
</header>